*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
#landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: url(https://di-uploads-pod14.dealerinspire.com/westhillsautoplex/uploads/2020/12/Background.png);
  background-position: center;
  background-color: #1d1868;
  background-repeat: no-repeat;
}

#hero-section {
  width: 100%;
}

.hero-img {
  width: 1440px;
  margin-top: -10em;
}

.hero-img-m {
  display: none;
}

#jellybean {
  margin-top: -12em;
  position: relative;
}

#jellybean-m {
  display: none;
}
.disclaim-box {
  width: 100%;

  display: flex;
  align-items: center;
  z-index: 2;
}

.disclaim-p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: white;
  z-index: 2;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: none;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: flex;
  justify-content: center;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #fff;
  z-index: 2;
  background-color: #1d1868;
}

#button-box-section {
  width: 100%;
  height: 300px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inv-button {
  margin-top: 75px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 400px;
  height: 60px;
  background: #f7921d 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 20px #00000029;
  border: none;
  border-radius: 40px;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none;
}
.disclaimer-button {
  margin-top: -100px;
  z-index: 2;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-left: 135px;
  padding-top: 12px;
  width: 400px;
  height: 60px;
  background: none;
  border: 4px solid #f7921d;
  box-shadow: 0px 15px 20px #00000029;
  border-radius: 40px;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none;
}

.yes-h1 {
  color: #ffffff;
  font-size: 100px;
  font-family: "Rubik", sans-serif;
}

#incentive-section {
  width: 100%;
  height: 250px;
  background-color: white;
}

@media only screen and (max-width: 800px) {
  #jellybean-m {
    display: none;
  }

  .hero-img {
    width: 800px;
    height: auto;
    margin-top: 75px;
  }
  .hero-img-m {
    display: none;
  }

  #jellybean {
    width: 100%;
    margin-top: -40px;
  }

  .yes-h1 {
    font-size: 50px;
  }

  .buttons-box {
    flex-direction: column;
  }

  .inv-button {
    width: 320px;
    height: 65px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .disclaimer-button {
    padding-left: 100px;
    margin-top: 20px;
    width: 320px;
  }

  #landing-container {
    height: 1440px;
    background: url(https://di-uploads-pod14.dealerinspire.com/westhillsautoplex/uploads/2020/12/Background-T.png);
    background-color: #1d1868;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .hero-img {
    width: 100%;
    height: auto;
    margin-top: 75px;
  }

  #landing-container {
    height: 1200px;
    background: url(https://di-uploads-pod14.dealerinspire.com/westhillsautoplex/uploads/2020/12/Background-m.png);
    background-color: #1d1868;
    background-position: center;
  }

  #jellybean {
    display: none;
  }

  #jellybean-m {
    margin-top: -45px;
    margin-right: 40px;
    display: inline;
  }

  .hero-img {
    display: none;
  }

  .hero-img-m {
    display: inline;
    width: 100%;
  }

  .yes-h1 {
    font-size: 38px;
  }

  .inv-button {
    width: 320px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .disclaimer-button {
    margin-top: -70px;
    width: 320px;
    height: 45px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
}
